<!DOCTYPE html>
<html>
  <head>
    <%- include('header.ejs') %>
  </head>
  <body>
    <%- include('navbar.ejs') %>

<h1>
    books
</h1>


    <%- include('footer.ejs') %>
       
  </body>
</html>
