<!DOCTYPE html>
<html>
<head>
    <%- include('header.ejs') %>
</head>
<body>
        <%if (user) { %>             <%- include('navbar.ejs') %>         <% } else { %>             <%- include('navbar1.ejs') %>         <% } %>


        <div class="container text-center">
            <h5>Kontakt</h5>
        </div>



<%- include('footer.ejs') %>
</body>
</html>
