
<footer class="container-fluid text-center page-footer pt-4">
        
        <div class="row">

            <!--First column-->
            <div class="col-md-6 " id="info3">
                <img  class="mx-auto d-block" src="/images/logo_only.png" alt="Logo" width="150">
                <p><strong> Wirtualna czytelnia </strong></p>
            </div>

            <!--Second column-->
            <div class="col-md-6 text-left" id="info2">
                <ul class="list-unstyled">
                    <li>
                        <a href="/termsofuse">Regulamin</a>
                    </li>
                    <li>
                        <a href="/policy">Płatności</a>
                    </li>
                    <li>
                        <a href="/contact">Kontakt</a>
                    </li>
                </ul>
            </div> <!--/.Second column-->
        </div>

    <div class="footer-copyright py-3">
            Wszelkie prawa zastrzeżone © 2018
    </div>

</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>