<!DOCTYPE html>
<html>

<head>
  <%- include('header.ejs') %>
</head>

<body>
  <%- include('navbar.ejs') %>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron container text-center">

          <h1>Witamy!</h1>
          <form action="/find" method="POST">
            <div class="input-group">
              <input type="search" name="find_item" class="form-control" placeholder="Wpisz tytuł, autora lub kategorię" aria-label="Szukaj">
              <div class="input-group-addon">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search"></i> Szukaj
                </button>
              </div>
          </form>

        </div>
        <hr>
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                odio dui. </p>
              <p>
                <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
              </p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                odio dui. </p>
              <p>
                <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
              </p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                massa justo sit amet risus.</p>
              <p>
                <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
              </p>
            </div>
          </div>



        </div>
        <!-- /container -->

    </main>

    <%- include('footer.ejs') %>
</body>

</html>