<nav class="navbar navbar-expand-sm bg-light navbar-dark sticky-top">

    <ul class="nav" role="tablist">
        <li class="nav-item">
        <a class="nav-link active" href="/"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/login"> <i class="fa fa-user"></i>  Logowanie</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/register"> <i class="fa fa-registered"></i> Rejestracja</a>
        </li>
    </ul>
</nav>