<nav class="navbar bg-white d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom box-shadow">

    <h5 class="my-0 mr-md-auto font-weight-normal">
        <a class="nav-link" href="/">
            <i class="fas fa-home"></i> Wirtualna czytelnia </a>
    </h5>

    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/books">Katalog</a>
        
        <!-- jesli user zalogowany -->
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i> Mój profil
            </button>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="/user-profile">Profil</a>
                <a class="dropdown-item" href="/library">Biblioteka</a>
                <a class="dropdown-item" href="/library">Biblioteka</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/">
                    <i class="fas fa-sign-out-alt"></i> Wyloguj
                </a>
            </div>

        </div>

    </nav>

    <div class="btn-group" role="group">
        <a class="btn btn-primary" href="/login" role="button">Logowanie</a>
        <a class="btn btn-outline-primary" href="/register" role="button">Rejestracja</a>
    </div>

</nav>