<!DOCTYPE html>
<html>
  <head>
    <%- include('header.ejs') %>
  </head>
  <body>
    <%- include('navbar.ejs') %>

    <main role="main" class="text-center">

      <div class="container">
            <h1>Nie znaleziono takiej strony</h1>
            <img src="https://i.pinimg.com/originals/cd/de/75/cdde758c30c75db094ef748a15883367.jpg" alt="not_found" class="img-fluid mx-auto d-block">
      </div>

    </main>

    <%- include('footer.ejs') %>
  </body>
</html>