<!DOCTYPE html>
<html>
  <head>
    <%- include('header.ejs') %>
  </head>
  <body>
    <%- include('navbar.ejs') %>

    <main role="main">

      <div class="jumbotron text-center">
            <h1>Nie znaleziono takiej strony</h1>
            <img src="https://vignette.wikia.nocookie.net/subnautica/images/1/1a/Page-not-found.png/revision/latest?cb=20170603223615" alt="not_found" class="img-fluid mx-auto d-block">
      </div>

    </main>

    <%- include('footer.ejs') %>
  </body>
</html>