<!DOCTYPE html>
<html>
  <head>
    <%- include('header.ejs') %>
  </head>
  <body>
    <%- include('navbar.ejs') %>

    <div class="login-form">
        
        <form action="/examples/actions/confirmation.php" method="post">
            <h2 class="text-center">Przypomnienie hasła</h2> 
            
            <p class="text-center small">
                    Podaj adres e-mail na który wyślemy dalsze instrukcje związane z odzyskiwaniem hasła.
            </p>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="E-mail" required="required">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Wyślij</button>
            </div>
        </form>
        <!-- <a href="javascript:history.back()">Wróć</a> -->
        
    </div>

    <%- include('footer.ejs') %>
  </body>
</html>
