<!DOCTYPE html>
<html>
<head>
    <%- include('header.ejs') %>
</head>
<body>
        <%if (user) { %>             <%- include('navbar.ejs') %>         <% } else { %>             <%- include('navbar1.ejs') %>         <% } %>

<h5 class="title">Policy</h5>

<%- include('footer.ejs') %>
</body>
</html>
