<!DOCTYPE html>
<html>

<head>
    <%- include('header.ejs') %>
</head>

<body>
    <%- include('navbar.ejs') %>

        <div class="container text-center">

            <h2>Rekomendacje</h2>
            <hr>

            <strong>Username:</strong>
            <%= userData.username %>


            <h1>TODO</h1>
        </div>

        <%- include('footer.ejs') %>
</body>

</html>