<!DOCTYPE html>
<html>
  <head>
    <%- include('header.ejs') %>
  </head>
  <body>
    <%- include('navbar.ejs') %>

    <div class="login-form">
        <form action="/examples/actions/confirmation.php" method="post">
            <h2 class="text-center">Rejestracja</h2>       
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Imię" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Nazwisko" required="required">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Login" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Hasło" required="required">
            </div>

            <!-- dodać inne potrzebne pola -->

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Zarejestruj</button>
            </div>
            <div class="clearfix">
                <!-- <label class="pull-left checkbox-inline"><input type="checkbox"> Zapamiętaj mnie </label>
                <br> -->

                <a href="/login">Masz już konto? Zaloguj się!</a>
            </div>        
        </form>
        
    </div>

    <%- include('footer.ejs') %>    
  </body>
</html>
