@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,900,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Rock+Salt:400);


footer {
    background-color: white;
    margin-top: 10%;
    border-top: 1px solid #E0E0E0;
  }
  
  .books_container {
    margin-bottom: 15%;
  }
  
  .books_container img {
    width: 30rem;
    height: 20rem;
    max-height: 200px;
    object-fit: contain;
  }
  
  .books_container .card {
    min-width: 200px;
    max-width: 250px;
    margin-bottom: 2%;
  }
  
  .book_container {
    font-family: 'David Libre', serif;
    font-size: 18px;
    margin: 5% auto 5% auto;
   }
  
   .card {
     margin-bottom: 2%;
   }
  
  