body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /* font-family: 'Barlow Semi Condensed', sans-serif; */
  /* font-family: 'Yatra One', cursive; */
  /* font-family: 'Cormorant', serif; */
}Copyright


/* div.container-fluid {
  background-image: url('/images/b.jpeg');
  background-attachment: fixed;
  background-position: center; 
} */

.book_container {
  font-family: 'David Libre', serif;
  font-size: 18px;
}

.badge {
  font-family: 'Jura', sans-serif;
  font-size: 90% !important;
}

#footwear {
  margin: 15px 0px;
}


table th {
  text-align: right;
}


footer {
  background-color: #F2F2F2;
  margin-top: 10px;
}


#books_container img {
  width: 30rem;
  height: 20rem;
  max-height: 200px;
  object-fit: contain;
}

#books_container .card {
  max-width: 250px;
}

/* CSS styling for book rating */
.fa-star,.fa-star-o{
color:orange;
}

.rating{
width: 50%;
float:left;
}
.rating p{
margin-top:10px;
}

@media (min-width:320px) and (max-width:640px){
  .rating{
  width: 100%;
  }
  .rating-process{
  width:100%;
  }	
}

/* enf of CSS styling for book rating */


/* CSS for login form */

.login-form {
  width: 340px;
    margin: 50px auto;
}
.login-form form {
  margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

/* end fo CSS for login form */