body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /* font-family: 'Barlow Semi Condensed', sans-serif; */
  /* font-family: 'Yatra One', cursive; */
  /* font-family: 'Cormorant', serif; */
  background-image: url('/images/swirl.png');
}

nav .navbar-brand{
  font-family: 'Cherry Swash', sans-serif;
  font-size: 22px;
  color: black;
}

nav .nav-link{
  font-size: 16px;
  color: black;
}

nav .nav-link:hover {
  border-bottom: 1px solid #E0E0E0;
  
}


nav input[type="text"],
input::-webkit-input-placeholder {
    font-size: 12px;
}

.greyText{
  font-size: 12px;
  color: grey;
}

main .col-md-6 {
  margin: 5% auto 5% auto;

}

#szukaj1, #szukaj1_advanced {
  width: 80%;
}

#szukaj {
  padding-right: 5%;
}

#goToSimpleSearch:hover, #goToAdvancedSearch:hover, #addNextSearchTag:hover {
  font-weight: bold;
  cursor: pointer;
}

.search_condition {
  max-width: 90px;
}
.jumbotron {
  background-image: url('/images/jumbo1.jpg');
  color: white;
  padding: 7%;
  position: relative;
}

.jumbotron row {
  text-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

.jumbotron::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
}


#title {
  font-family: 'Cherry Swash', sans-serif;
}

.book_container .title {
  font-size: 40px;
  width: 100%;
}
.book_container .author {
  font-size: 22px;
  width: 100%;
  margin: 1% 0 6% 0;
}
.book_container .series, .book_container .category, .book_container .language, .book_container .rating {
  font-size: 18px;
  width: 100%;
  margin: 1% 2% 0% 0;
}
.book_container .synopsis{
  margin: 10% 0 5% 0;
}

.fa-user {
  padding-left: 5%;
}

#info{
  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  background-color: white;
  border: 1px solid #E0E0E0;
  margin: 2%;
}

#info2{
  margin-top: 3%;
  margin-bottom: 3%;
  padding-left: 20%;
}

#info3{
  margin-top: 3%;
  margin-bottom: 3%;
}

main {
  margin-bottom: 8%;
}

#book_info {
  background-color: white;
  padding: 3%;

}

#search {
  padding-top: 10%;
  padding-left: 10%;
}

/* div.container-fluid {
  background-image: url('/images/b.jpeg');
  background-attachment: fixed;
  background-position: center; 
} */

.book_container {
  font-family: 'David Libre', serif;
  font-size: 18px;
  margin: 5% auto 5% auto;
 }

 .card {
   margin-bottom: 2%;
 }

.badge {
  font-family: 'Jura', sans-serif;
  font-size: 90% !important;
}

#footwear {
  margin: 15px 0px;
}

#naj {
  padding-top: 3%;
  padding-bottom: 1%;

}

table th {
  text-align: right;
}


footer {
  background-color: white;
  margin-top: 10%;
  border-top: 1px solid #E0E0E0;
}

#books_container {
  margin-bottom: 15%;
}

#books_container img {
  width: 30rem;
  height: 20rem;
  max-height: 200px;
  object-fit: contain;
}

#books_container .card {
  min-width: 200px;
  max-width: 250px;
  margin-bottom: 2%;
}

#no_results {
  height: 100%;
}
/* CSS styling for book rating */
.fa-star,.fa-star-o{
color:orange;
}

.rating{
width: 50%;
float:left;
}
.rating p{
margin-top:10px;
}

@media (min-width:320px) and (max-width:640px){
  .rating{
  width: 100%;
  }
  .rating-process{
  width:100%;
  }	
}

/* enf of CSS styling for book rating */


/* CSS for login form */

.login-form {
  width: 340px;
    margin: 50px auto;
}
.login-form form {
  margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

img {
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 20px;
}

/* end fo CSS for login form */